.navBar {
  width: 100%;
  display: flex;
  background-color: rgb(214, 157, 174);
  align-items: center;

}

.navBar ul {
  padding: 0%;
  list-style: none;
  color: black;
  font-size: 18px;
}

.navBar li {
  padding: 10px;
  list-style: none;
  display: inline;
  color: black;
}

.navBar a {
  text-decoration: none;
  color: black;
}


.SignIn {
  background-image: url("/assets/signin.png");
  background-size: cover;
  height: 35px;
  width: 35px;
  margin-left: 500px;
}

h2 {
  margin-right: 390px;
  margin-left: 30px;
}


.navBar{
  position: sticky;
  top: 0px;
}